{% extends "base.html" %}
{% block head %}


{% endblock %}

{% block content %}
<div id='md-screen-con' class='sm-screen-con'>
    <aside>
        <div class='burger-container'>
            <div id='burger'>
                <span class='burger'></span>
                <span class='burger'></span>
                <span class='burger'></span>
            </div>
        </div>
        <div class="aside-inner-box">
            <nav id="quit-game">
              <span class='my-leader-board'><a href="{{ url_for('leaderboard') }}" class="active">LEADER BOARD</a></span>
              <span class='home'><a href="{{ url_for('leavegame') }}" class="active">HOME</a></span>
            </nav>
            
            <div class='welcome'>
                <span>WELCOME</span>
                <div class='u-name'>
                  <span id='username' class='user'>{{username}}</span>
                </div>
            </div>
          
            <div id="details">
              <div id='leader-board'>
                  <span class='leader-board'>MINI LEADER BOARD</span>
                  <span class='score'>SCORE</span>
                  
                  
                  
              </div>
              <br>
              <div id='online'>
                  <span class='user online'>USERS ONLINE</span>
                  <span class='user'></span>
                  
                  <span class="score">SCORE</span>
                  <div id='online-users'>
                    {% for key, user in on_line.items() %}
                    <span class='user usr-name'>{{user['username']}}</span>
                    
                    <span class='user usr-score {{user["username"]}}'>{{user['score']}}</span>
                    {% endfor %}
                  </div>
                  
              </div>
            </div>
        </div>
    </aside>
    
    <div class='game-instructions'>
      <div class='instructions-inner'>
        <h1>Instructions</h1>
        <div>
          <ol>
            <li>Click on a panel to get a question.</li>
            <li>Panel border turns green for correct answers.</li>
            <li>Panel border turns red for incorrect answers.</li>
            <li>If your score makes the leaderboard it will show up after you Finsih game.</li>
            <li>If you quit game you will have to come back to see if you made the leaderboard.</li>
            <li>Its recommended to leave game via the home or leaderboard link, If you close tab or tab back you will be prompted to confirm you wish to leave.</li>
          </ol>
        </div>
        <button class='close-instructions'>CLOSE</button>
      </div>
    </div>
    
    <div id='board'>
        <div class="sqr-con">
          {% for id,type in type_id %}
          <div id='{{id}}' class='sqr'><span class='question-type'>{{type}}</span></div>
          {% endfor %} 
        
        </div>
    </div>
    
    <div class="q-a-outer">
      <div id='question-answer'>
        <div class="surround">
          <p class="question-a"></p>
          <hr>
          <p class="question-b"></p>
        </div>
        <div class='input-ans'>
          <input class="ans-inp" type="text" placeholder="Enter answer here">
        </div>
        <div class="ans-button">
          <button id="ans-button">SUBMIT</button>
        </div>
      </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src={{url_for('static',filename='js/game.js')}}> </script>
{% endblock %}
